<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!!canTake">
    <h2>You can take more {{drugName}}</h2>

    <button ion-button (click)="onDrugTaken()">
      Take {{drugName}}
    </button>
  </div>

  <div *ngIf="!canTake">
    <h2>You cannot take more {{drugName}} just now</h2>
    <p>You must wait till {{nextDose | date:'MM/dd/yyyy @ h:mma'}}.</p>
  </div>

<div *ngIf="drugHistory && drugHistory.length > 0">
  <h3>History</h3>

    <ion-card *ngFor="let drug of drugHistory">
       <ion-card-header>
         {{drugName}}
       </ion-card-header>
       <ion-card-content>
         {{drug | date:'MM/dd/yyyy @ h:mma'}}
       </ion-card-content>
    </ion-card>


      <button ion-button color="danger" (click)="onClearHistory()">
        Clear history
      </button>
</div>

</ion-content>
